@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgb(85, 19, 19);
    margin-top: 50px;
}

.container {
    background-color: rgb(189, 90, 90);
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 50px;
    margin: auto;
}

#mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(45, 3, 3);
}

img {
    width: 100px;
    border-radius: 20px;
    margin: 20px;
    background-image: url('https://i.pinimg.com/564x/3d/aa/ea/3daaea18dc0a550c5cdd5ba55f11a9df.jpg');
    background-size: 100px 100px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.485);
    border: 2px solid black;
}

img:hover {
    transform: scale(120%);
    transition: 0.2s;
}

header {
    width: 100%;
}

p {
    margin-top: 10px;
}

footer {
    width: 100%;
    text-align: center;
}

.div1 {
    width: 200px;
    height: 350px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-size: 50px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    background-color: rgb(97, 78, 242);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.58);
    font-family: 'Agdasima', sans-serif;
}

.div1:hover {
    background-color: rgb(97, 26, 26);
    color: white;
    transform: scale(110%);
    transition: 0.2s;
}

.fire {
    color: rgb(255, 255, 255);
    background-color: rgb(205, 29, 29);
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.fire:hover {
    background-color: rgb(175, 103, 103);
    transform: scale(120%);
}

.grass {
    color: white;
    background-color: rgb(0, 196, 0);
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.grass:hover {
    background-color: rgb(121, 163, 121);
    transform: scale(120%);
}
.poison {
    color: white;
    background-color: rgb(132, 0, 255);
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.poison:hover {
    background-color: rgb(153, 121, 172);
    transform: scale(120%);
}
.water {
    color: white;
    background-color: blue;
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.water:hover {
    background-color: rgb(130, 130, 179);
    transform: scale(120%);
}

.bug {
    color: white;
    background-color: rgb(64, 108, 64);
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.bug:hover {
    background-color: rgb(134, 175, 134);
    transform: scale(120%);
}

.flying {
    color: white;
    background-color: rgb(25, 186, 255);
    border-radius: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.flying:hover {
    background-color: rgb(150, 182, 209);
    transform: scale(120%);
}


.numero {
    margin-left: -140px;
    margin-bottom: 10px;  
    margin-top: -50px;
    font-size: 1.2em;
}

.nome {
    color: white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.nome:hover {
    transform: scale(120%);
    transition: 0.2s;
}

.titulo {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: -90px;
    padding: 50px;
}

#textoPesquisa {
    width: 100%;
    margin: auto;
}

#botaoPesquisa {
    width: 100%;
    margin: auto;
}

#searchbox {
    width: 100%;
    margin-top: -150px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#searchSection {
    background-color: rgb(191, 32, 32);
    margin: auto;
}
